.elementor-kit-12 {
  --e-global-color-primary: #191919;
  --e-global-color-secondary: #e6e6e6;
  --e-global-color-text: #191919;
  --e-global-color-accent: #cdad93;
  --e-global-color-4c1b0d0: #ffffff;
  --e-global-typography-primary-font-family: "Suranna";
  --e-global-typography-primary-font-size: 230px;
  --e-global-typography-primary-font-weight: 500;
  --e-global-typography-primary-text-transform: uppercase;
  --e-global-typography-primary-letter-spacing: 10px;
  --e-global-typography-secondary-font-family: "Suranna";
  --e-global-typography-secondary-font-size: 68px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-font-style: italic;
  --e-global-typography-secondary-letter-spacing: 7px;
  --e-global-typography-text-font-family: "Karla";
  --e-global-typography-text-font-size: 14px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 2em;
  --e-global-typography-text-letter-spacing: 0.1px;
  --e-global-typography-accent-font-family: "Suranna";
  --e-global-typography-accent-font-size: 15px;
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-text-transform: uppercase;
  --e-global-typography-accent-font-style: normal;
  --e-global-typography-accent-letter-spacing: 3px;
  --e-global-typography-6684afc-font-family: "Suranna";
  --e-global-typography-6684afc-font-size: 190px;
  --e-global-typography-6684afc-font-weight: 500;
  --e-global-typography-6684afc-letter-spacing: -5px;
  --e-global-typography-c3626a6-font-family: "Suranna";
  --e-global-typography-c3626a6-font-size: 143px;
  --e-global-typography-c3626a6-font-weight: 500;
  --e-global-typography-c3626a6-font-style: italic;
  --e-global-typography-c3626a6-letter-spacing: 0.4px;
  --e-global-typography-acdd51d-font-family: "Libre Caslon Text";
  --e-global-typography-acdd51d-font-size: 68px;
  --e-global-typography-acdd51d-font-weight: 400;
  --e-global-typography-acdd51d-line-height: 1.2em;
  --e-global-typography-acdd51d-letter-spacing: -1.3px;
  --e-global-typography-7e63eea-font-family: "Suranna";
  --e-global-typography-7e63eea-font-size: 40px;
  --e-global-typography-7e63eea-font-weight: 400;
  --e-global-typography-7e63eea-font-style: italic;
  --e-global-typography-7e63eea-line-height: 1.4em;
  --e-global-typography-7e63eea-letter-spacing: 9.9px;
  --e-global-typography-9819d33-font-family: "Karla";
  --e-global-typography-9819d33-font-size: 14px;
  --e-global-typography-9819d33-font-weight: 400;
  --e-global-typography-9819d33-line-height: 1.7em;
  --e-global-typography-9819d33-letter-spacing: -0.2px;
  --e-global-typography-32913d0-font-family: "Suranna";
  --e-global-typography-32913d0-font-size: 56px;
  --e-global-typography-32913d0-font-weight: 400;
  --e-global-typography-32913d0-font-style: normal;
  --e-global-typography-32913d0-letter-spacing: 9px;
  --e-global-typography-dd049b0-font-family: "Suranna";
  --e-global-typography-dd049b0-font-size: 70px;
  --e-global-typography-dd049b0-font-weight: 400;
  --e-global-typography-dd049b0-text-transform: lowercase;
  --e-global-typography-dd049b0-letter-spacing: 2px;
  --e-global-typography-247f179-font-family: "Libre Caslon Text";
  --e-global-typography-247f179-font-size: 67px;
  --e-global-typography-247f179-font-weight: 400;
  --e-global-typography-247f179-text-transform: lowercase;
  --e-global-typography-247f179-font-style: italic;
  --e-global-typography-247f179-letter-spacing: 0.3px;
  --e-global-typography-bd7873c-font-family: "Suranna";
  --e-global-typography-bd7873c-font-size: 24px;
  --e-global-typography-bd7873c-font-weight: 400;
  --e-global-typography-bd7873c-letter-spacing: 18px;
  --e-global-typography-8caf614-font-family: "Suranna";
  --e-global-typography-8caf614-font-size: 32px;
  --e-global-typography-8caf614-font-weight: 400;
  --e-global-typography-8caf614-letter-spacing: 2px;
  --e-global-typography-0ae836f-font-family: "Suranna";
  --e-global-typography-0ae836f-font-size: 34px;
  --e-global-typography-0ae836f-font-weight: 500;
  --e-global-typography-0ae836f-text-transform: uppercase;
  --e-global-typography-0ae836f-font-style: normal;
  --e-global-typography-0ae836f-letter-spacing: 3px;
  color: #191919;
  font-family: "Karla", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 0.1px;
  background-color: #ffffff;
}
.elementor-kit-12 a {
  text-decoration: none;
}
.elementor-kit-12 h1 {
  color: var(--e-global-color-accent);
  font-family: "Suranna", Sans-serif;
  font-size: 151px;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-kit-12 h2 {
  color: var(--e-global-color-accent);
  font-family: "Libre Caslon Text", Sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.elementor-kit-12 h3 {
  color: #191919;
  font-family: "Suranna", Sans-serif;
  font-size: 39px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 7px;
}
.elementor-kit-12 h4 {
  color: #191919;
  font-family: "Suranna", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.elementor-kit-12 button,
.elementor-kit-12 input[type="button"],
.elementor-kit-12 input[type="submit"],
.elementor-kit-12 .elementor-button {
  font-family: "Karla", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 10px;
  color: #ffffff;
  background-color: #191919;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 55px 20px 55px;
}
.elementor-kit-12 button:hover,
.elementor-kit-12 button:focus,
.elementor-kit-12 input[type="button"]:hover,
.elementor-kit-12 input[type="button"]:focus,
.elementor-kit-12 input[type="submit"]:hover,
.elementor-kit-12 input[type="submit"]:focus,
.elementor-kit-12 .elementor-button:hover,
.elementor-kit-12 .elementor-button:focus {
  color: #886d00;
  background-color: #191919;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-container {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}
.elementor-element {
  --widgets-spacing: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-kit-12 {
    --e-global-typography-primary-font-size: 180px;
    --e-global-typography-6684afc-font-size: 145px;
    --e-global-typography-c3626a6-line-height: 0.7em;
    --e-global-typography-acdd51d-line-height: 0.9em;
    --e-global-typography-7e63eea-line-height: 0.9em;
    --e-global-typography-32913d0-line-height: 0.7em;
    --e-global-typography-dd049b0-line-height: 0.7em;
    --e-global-typography-247f179-line-height: 0.9em;
    --e-global-typography-bd7873c-letter-spacing: 10px;
    --e-global-typography-0ae836f-line-height: 0.9em;
  }
  .elementor-kit-12 h1 {
    font-size: 140px;
  }
  .elementor-kit-12 h3 {
    line-height: 0.7em;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-container {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-12 {
    --e-global-typography-primary-font-size: 95px;
    --e-global-typography-secondary-font-size: 40px;
    --e-global-typography-secondary-letter-spacing: 1.5px;
    --e-global-typography-accent-font-size: 14px;
    --e-global-typography-accent-letter-spacing: 2.2px;
    --e-global-typography-6684afc-font-size: 87px;
    --e-global-typography-c3626a6-font-size: 75px;
    --e-global-typography-c3626a6-line-height: 0.7em;
    --e-global-typography-acdd51d-font-size: 50px;
    --e-global-typography-32913d0-font-size: 44px;
    --e-global-typography-32913d0-letter-spacing: 0.5px;
    --e-global-typography-247f179-font-size: 60px;
    --e-global-typography-bd7873c-letter-spacing: 7px;
    --e-global-typography-0ae836f-line-height: 0.9em;
  }
  .elementor-kit-12 h1 {
    font-size: 96px;
  }
  .elementor-kit-12 h2 {
    font-size: 52px;
  }
  .elementor-kit-12 h3 {
    line-height: 0.8em;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-container {
    --container-max-width: 767px;
  }
}
